PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=Behaviour-vault

# ML API proxy credentials
BHV_API_URL=https://bhv-api.nw-right.dev
BHV_API_KEY=
CF_ACCESS_CLIENT_ID=
CF_ACCESS_CLIENT_SECRET=
